/**
 *
 * buttons
 *
 **/
.btn{
	display: inline-block;
	padding: 7px 12px;
	border: 1px solid;
	background-color: transparent;
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: $color__third;
	cursor: pointer;

	&:hover{
		border: 1px solid rgba(255, 255, 255, 0.4);
		color: $color__third;
	}
}
.btn--primary{
	color: $color__primary;
	&:hover{
		border: 1px solid rgba($color__secondary, 1);
		color: $color__secondary;
	}
}
.btn--md{
	font-size: 14px;
}
.btn--lg{
	padding: 17px 16px 17px;
	font-size: 18px;
}