section.section.section--advantages
    .container
      h2.section__title Наши преимущества
      .section__content
        .advantage
          .advantage__inner
            img(src="images/advantages/watch.png", alt="").advantage__icon
            p.advantage__text Достаточно быстрое расширение бизнеса в разных регионах/странах, при минимальных затратах.
        .advantage
          .advantage__inner
            img(src="images/advantages/shield.png", alt="").advantage__icon
            p.advantage__text Минимум рисков. Ведением и развитием бизнеса занимается франчайзи и риски он берет на себя.
        .advantage
          .advantage__inner
            img(src="images/advantages/shop.png", alt="").advantage__icon
            p.advantage__text Чем больше открыто магазинов/ресторанов и т.д. тем больше людей узнают о существовании бренда.