section.section.section--functions
	.container
		.row
			.col.col--4-of-12.col--s-12-of-12.col--m-4-of-12.col--l-4-of-12
				article.function
					.function__inner
						.function__icon
							img(src="images/functions/alarm.png", alt="")
						h3.function__title РАЗМЕЩЕНИЕ
						.function__text
							| Размещение вашей франшизы закончится 
							strong 11.04.2018.
							| Чтобы франшизы оставались в каталоге, необходимо 
							a(href='') продлить размещение.
			.col.col--4-of-12.col--s-12-of-12.col--m-4-of-12.col--l-4-of-12
				article.function
					.function__inner
						.function__icon
							img(src="images/functions/wallet.png", alt="")
						h3.function__title БАЛАНС
						.function__text
							| На вашем счету 
							strong $0.
							| После пополнения баланса вы можете поднять популярность своей франшизы. 
							a(href="") Пополнить баланс
			.col.col--4-of-12.col--s-12-of-12.col--m-4-of-12.col--l-4-of-12
				article.function
					.function__inner
						.function__icon
							img(src="images/functions/message.png", alt="")
						h3.function__title СООБЩЕНИЯ
						.function__text
							| У вас 
							strong нет непрочитанных сообщений. 
							| Можете написать кому-нибудь 
							a(href="") комментарий о франшизе.