section.section.section--news
	.container
		h2.section__title Новости
		.section__content
			.row
				.col.col--6-of-12.col--s-12-of-12.col--m-6-of-12.col--l-6-of-12
					article.news
						.news__inner
							a(href="").news__photo
								img(src="images/news/n-1.jpg", alt="")
							.news__date 28.12.17
							h3.news__title
								a(href="") Товарищи! рамки и место обучения кадров позволяет оценить значение модели развития.
				.col.col--6-of-12.col--s-12-of-12.col--m-6-of-12.col--l-6-of-12
					article.news
						.news__inner
							a(href="").news__photo
								img(src="images/news/n-2.jpg", alt="")
							.news__date 28.12.17
							h3.news__title
								a(href="") Товарищи! рамки и место обучения кадров позволяет оценить значение модели развития.