// FOOTER
footer.footer
  .container
    .footer__about
        a(href="").logo
          img(src="images/logo.png", alt="")
        .logo__text Сервис для поиска и размещения франшиз

        .social-icons
          a(href="").social-icons__link
            i.fa.fa-facebook
          a(href="").social-icons__link
            i.fa.fa-twitter
          a(href="").social-icons__link
            i.fa.fa-google-plus
          a(href="").social-icons__link
            i.fa.fa-instagram
    .footer__menu
      ul.menu
        li.menu__item
          a(href="").menu__link Развиваю франшизу
        li.menu__item
          a(href="").menu__link Ищу франшизу
        li.menu__item
          a(href="").menu__link Об ассоциации
        li.menu__item
          a(href="").menu__link Каталог франшиз
        li.menu__item
          a(href="").menu__link Членство для франчайзеров
        li.menu__item
          a(href="").menu__link Третейский суд
        li.menu__item
          a(href="").menu__link Контакты
    .footer__menu
      ul.menu
        li.menu__item
          a(href="").menu__link Мой аккаунт
        li.menu__item
          a(href="").menu__link Мои франшизы
        li.menu__item
          a(href="").menu__link Мои заказы
        li.menu__item
          a(href="").menu__link Помощь
    .footer__subscribe
      .subscribe
        h4.subscribe__title Рассылка
        form(action="").subscribe__form
          input(type="email", name="", placeholder="Введите email").subscribe__input
          button(type="submit").subscribe__submit Подписаться
// /FOOTER
include parts/modals