header.header
	.header__top
		.container
			.header__logo
				a(href="index.html").logo
					img(src="images/logo.png", alt="")
			.header__search
				.search
					form(action="").search__form
						input(type="text", placeholder="Поиск франшизы").search__input
						button(type="submit").search__submit
							i.icon-search
					.search__example Например, Crema Caffe
			.header__action
				.header__login
					- if ( isLogged == 'profile' ) {
							.login.is--logged
								a(href="").login__item Профиль
								ul.login__profile
									-var items = ["Моя страница (ID 29579)","Мои сообщения","Моя франшиза","Продлить франшизу","Популярность франшиз","Избранные франшизы","Мои данные","Выйти"];
									-var links = ["profile.html","profile-messages.html","profile-franchise.html","profile-payments.html","","profile-favorites.html","profile-data.html",""]
									each item, i in items
										li.login__profile-item
											a(href=links[i]).login__profile-link= item
					- } else if ( isLogged == 'customer' ) {
							.login.is--logged
								a(href="").login__item Профиль
								ul.login__profile
									-var items = ["Моя страница (ID 68239)","Мои сообщения","Избранные франшизы","Мои данные","Выйти"];
									-var links = ["profile.html","profile-messages.html","profile-favorites.html","profile-data.html",""]
									each item, i in items
										li.login__profile-item
											a(href=links[i]).login__profile-link= item
					- } else {
							.login
								i.icon.icon-login
								a(href="profile-data.html").login__item Войти
								a(href="", data-modal="registration").login__item Регистрация
					- }
				.header__langs
					.langs
						.langs__current Рус
						.langs__list
							span.langs__item Рус
							a(href="").langs__item Укр
				.header__contacts
					.contact-us
						.contact-us__phone (044) 000-00-00
						a(href="", data-modal="callback").contact-us__link Заказать обратный звонок
	.header__bottom
		.container
			nav.nav
				ul.nav__list
					li.nav__item
						a(href="").nav__link Развиваю франшизу
					li.nav__item
						a(href="").nav__link Ищу франшизу
					li.nav__item
						a(href="about.html").nav__link Об ассоциации
					li.nav__item
						a(href="catalog.html").nav__link Каталог франшиз
						//- submenu
						.nav__submenu
							ul.nav__submenu-list
								li.nav__submenu-item
									a(href="catalog.html").nav__submenu-link Авто
								li.nav__submenu-item
									a(href="catalog.html").nav__submenu-link Гостиницы
								li.nav__submenu-item
									a(href="catalog.html").nav__submenu-link Здоровье и красота
								li.nav__submenu-item
									a(href="catalog.html").nav__submenu-link ИТ и интернет
								li.nav__submenu-item
									a(href="catalog.html").nav__submenu-link Кафе и рестораны
								li.nav__submenu-item
									a(href="catalog.html").nav__submenu-link Недорогие франшизы
								li.nav__submenu-item
									a(href="catalog.html").nav__submenu-link Обучение и образование
								li.nav__submenu-item
									a(href="catalog.html").nav__submenu-link Одежда и обувь
							ul.nav__submenu-list
								li.nav__submenu-item
									a(href="catalog.html").nav__submenu-link Отдых и развлечения
								li.nav__submenu-item
									a(href="catalog.html").nav__submenu-link Питание
								li.nav__submenu-item
									a(href="catalog.html").nav__submenu-link Производство
								li.nav__submenu-item
									a(href="catalog.html").nav__submenu-link Розничная торговля
								li.nav__submenu-item
									a(href="catalog.html").nav__submenu-link СМИ
								li.nav__submenu-item
									a(href="catalog.html").nav__submenu-link Строительство и ремонт
								li.nav__submenu-item
									a(href="catalog.html").nav__submenu-link Транспортные услуги
								li.nav__submenu-item
									a(href="catalog.html").nav__submenu-link Улуги для бизнеса
							ul.nav__submenu-list
								li.nav__submenu-item
									a(href="catalog.html").nav__submenu-link Услуги для детей
								li.nav__submenu-item
									a(href="catalog.html").nav__submenu-link Услуги для населения
								li.nav__submenu-item
									a(href="catalog.html").nav__submenu-link Финансовые услуги
						//- /submenu
					li.nav__item
						a(href="membership.html").nav__link Членство для франчайзеров
					li.nav__item
						a(href="articles.html").nav__link Третейский суд
					li.nav__item
						a(href="contacts.html").nav__link Контакты