.footer{
	@include clearfix();
	padding: 70px 0;
	background: url('../images/stripe.png') 0 0 repeat;
	@include media('<940px'){
		text-align: center;
	}
}
.footer__about{
	float: left;
	width: percentage(282/1000);
	margin-bottom: 50px;
	img{
		max-width: 100%;
	}
	@include media('<940px'){
		float: none;
		width: 100%;
		padding: 0;
		margin-bottom: 30px;
		text-align: center;

		.logo img {
			margin: 0 auto 10px;
		}
	}
}
.footer__menu{
	float: left;
	max-width: 270px;
	padding-left: 31px;
	padding-right: 16px;
	margin-bottom: 45px;
	&+.footer__menu{
		width: 160px;
		padding-left: 30px;
	}
	@include media('<940px'){
		float: none;
		display: inline-block;
		vertical-align: top;
		max-width: 50%;
		width: 230px;
		padding: 0;
		text-align: left;

		&+.footer__menu{
			width: 150px;
			padding-left: 30px;
		}
	}
	@include media('<480px'){
		margin-bottom: 25px;
		&+.footer__menu{
			padding-left: 0;
		}
	}
}
.footer__subscribe{
	float: right;
	min-width: 30%;
	padding-left: 30px;
	@include media('<1040px'){
		min-width: 25%;
	}
	@include media('<940px'){
		clear: both;
		float: none;
		min-width: 280px;
		max-width: 280px;
		padding-left: 0;
		margin: 0 auto;
		text-align: center;
	}
}