.customer-data
  .customer-data__text
    | Вы вошли на сайт, как  
    a(href="").customer-data__link Алексей
    |  (ID 29579), используя 
    a(href="").customer-data__link quick.franch.biz
  a(href="").customer-data__action.btn.btn--primary.btn--md Мои  данные