article.franch
	.franch__inner
		.franch__photo
			img(src="images/franch/f-1.jpg", alt="")
		.franch__details
			.franch__brands
				img(src="images/franch/b-1.png", alt="")
			h3.franch__title 
				a(href="franchise.html") Франшиза студии экспресс-маникюра и педикюра
			.franch__row
				.franch__investments
					i.icon-money
					span
						span Инвестиции
						| 500000 грн.
				.franch__payback
					i.icon-calendar
					span
						span Окупаемость
						| от 4 мес.
			.franch__row
				.franch__views
					i.icon-view
					| 147 просмотров
				.franch__action
					a(href="franchise.html").btn Посмотреть