.message
	.message__inner
		.message__author
			img(src="images/avatar.png", alt="")
		.message__content
			.message__details
				a(href="").message__author Валерия Бут
				span.message__date 18.11.2017 в 01:53 – Украина, Киев
			.message__text Добрый вечер, интересует ваша франшиза, можно более подробную информацию на почту butvaleria1@gmail.com Спасибо
			.message__contacts
				a(href="mailto:butvaleria1@gmail.com").message__link butvaleria1@gmail.com
				a(href="tel:+380255464585").message__phone +380 (25) 546-45-85
			.message__action
				a(href="", data-modal="answer", data-id="12").message__link.js-write-answer Ответить
				a(href="").message__link Удалить