.mobile-nav__toggle-wrapper
  .js-nav-toggle.mobile-nav__toggle
    span.icon-nav toggle menu

// MENU
nav.mobile-nav
  .mobile-nav__inner
    .mobile-nav__block
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='') Об ассоциации
        li.mobile-nav__item
          a.mobile-nav__link(href='') Развиваю франшизу
        li.mobile-nav__item
          a.mobile-nav__link(href='') Ищу франшизу
        li.mobile-nav__item.is--active
          a.mobile-nav__link(href='') Каталог франшиз
          ul.mobile-nav__sublist
            li.mobile-nav__sublist-item
              a.mobile-nav__sublist-link(href='') Авто
            li.mobile-nav__sublist-item
              a.mobile-nav__sublist-link(href='') Гостиницы
            li.mobile-nav__sublist-item
              a.mobile-nav__sublist-link(href='') Здоровье и красота
            li.mobile-nav__sublist-item
              a.mobile-nav__sublist-link(href='') ИТ и интернет
            li.mobile-nav__sublist-item
              a.mobile-nav__sublist-link(href='') Кафе и рестораны
            li.mobile-nav__sublist-item
              a.mobile-nav__sublist-link(href='') Недорогие франшизы
            li.mobile-nav__sublist-item
              a.mobile-nav__sublist-link(href='') Обучение и образование
            li.mobile-nav__sublist-item
              a.mobile-nav__sublist-link(href='') Одежда и обувь
            li.mobile-nav__sublist-item
              a.mobile-nav__sublist-link(href='') Отдых и развлечения
            li.mobile-nav__sublist-item
              a.mobile-nav__sublist-link(href='') Питание
            li.mobile-nav__sublist-item
              a.mobile-nav__sublist-link(href='') Производство
            li.mobile-nav__sublist-item
              a.mobile-nav__sublist-link(href='') Розничная торговля
            li.mobile-nav__sublist-item
              a.mobile-nav__sublist-link(href='') СМИ
            li.mobile-nav__sublist-item
              a.mobile-nav__sublist-link(href='') Строительство и ремонт
            li.mobile-nav__sublist-item
              a.mobile-nav__sublist-link(href='') Транспортные услуги
            li.mobile-nav__sublist-item
              a.mobile-nav__sublist-link(href='') Улуги для бизнеса
            li.mobile-nav__sublist-item
              a.mobile-nav__sublist-link(href='') Услуги для детей
            li.mobile-nav__sublist-item
              a.mobile-nav__sublist-link(href='') Услуги для населения
            li.mobile-nav__sublist-item
              a.mobile-nav__sublist-link(href='') Финансовые услуги
        li.mobile-nav__item
          a.mobile-nav__link(href='') Третейский суд
        li.mobile-nav__item
          a.mobile-nav__link(href='') Контакты