div(style='display: none;' class="js-all-modals")
	#registration.popup
		.popup__close.arcticmodal-close
		.popup__inner
			h4.popup__header Быстрая регистрация
			.popup__body
				form(action="").form.js-form-registration
					.form__field.is--required
						label.label Ваше имя
						input(type="text", name="name").input
					.form__field.is--required
						label.label Ваш e-mail
						input(type="email", name="email").input
					.form__field
						label.label Ваш телефон
						input(type="text", name="phole").input
					.form__field
						label.label Откуда вы?
						input(type="text", name="from").input
					.form__field
						| Я — продавец франшизы (франчайзер)
						span.checkbox__wrapper
							input(type="radio", name="seller", id="yes", checked).checkbox
							label(for="yes") Да
						span.checkbox__wrapper
							input(type="radio", name="seller", id="no").checkbox
							label(for="no") Нет
					.form__field
						| Регистрируясь на сайте, вы подтверждаете, что ознакомились и приняли 
						a(href="") пользовательское соглашение
					.form__action
						button(type="submit").btn.btn--primary.btn--md Зарегистрироваться
						
	#callback.popup
		.popup__close.arcticmodal-close
		.popup__inner
			h4.popup__header Заказать звонок
			.popup__body
				form(action="").form.js-form-callback
					.form__field.is--required
						label.label Ваше имя
						input(type="text", name="name").input
					.form__field
						label.label Ваш телефон
						input(type="text", name="phone").input
					.form__action
						button(type="submit").btn.btn--primary.btn--md Отправить
						
	#welcome.popup
		.popup__close.arcticmodal-close
		.popup__inner.is--centered.is--wide
			h4.popup__header 
				span Доброе пожаловать!
				span Пожалуйста, представьтесь:
			.popup__body
				.row
					.col.col--4-of-12.col--s-12-of-12.col--m-4-of-12
						p
							a(href="").btn.btn--primary.btn--md Продавец франшизы
					.col.col--4-of-12.col--s-12-of-12.col--m-4-of-12
						p
							a(href="").btn.btn--primary.btn--md Покупатель франшизы
					.col.col--4-of-12.col--s-12-of-12.col--m-4-of-12
						p
							a(href="").btn.btn--primary.btn--md Просто так зашел
						
	#video.popup
		.popup__close.arcticmodal-close.js-never-show
		.popup__inner.is--wide
			.popup__body
				.popup__video
					iframe(width="473" height="273" src="https://www.youtube.com/embed/BUKhyVpL8E0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
				.popup__form
					.form.js-form-terms
						.form__field
							input#terms.checkbox.is--small(type='checkbox', name='terms')
							label(for='terms')
								| Принимаю 
								a(href="") условия пользовательского соглашения
						.form__action
							button(type="submit").btn.btn--primary.btn--md Получить

					form(action="").form.js-form-video
						.form__field.is--required
							label.label Ваше имя
							input(type="text", name="name").input
						.form__field.is--required
							label.label Ваш e-mail
							input(type="email", name="email").input
						.form__field
							label.label Ваш телефон
							input(type="text", name="phone").input
						.form__action
							button(type="submit").btn.btn--primary.btn--md Отправить
						
	#question.popup
		.popup__close.arcticmodal-close
		.popup__inner
			h4.popup__header Задать вопрос
			.popup__body
				form(action="").form.js-form-question
					.form__field.is--required
						label.label Имя
						input(type="text", name="name").input
					.form__field.is--required
						label.label Вопрос
						textarea(name="question", cols="30", rows="10").textarea
					.form__action
						button(type="submit").btn.btn--primary.btn--md Отправить
						
	#answer.popup
		.popup__close.arcticmodal-close
		.popup__inner.is--wide
			h4.popup__header Ответить на сообщение
			.popup__body
				form(action="").form.js-form-answer
					.form__field.is--required
						label.label Сообщение
						textarea(name="answer", cols="30", rows="10").textarea
						input(type="hidden", name="dialog_id")
					.form__action
						button(type="submit").btn.btn--primary.btn--md Отправить
						span.note.note--success.is--ml-20 Сообщение отправлено, успешно!
						
	#login.popup
		.popup__close.arcticmodal-close
		.popup__inner
			h4.popup__header Войти
			.popup__body
				form(action="").form.js-form-login
					.form__field.is--required
						label.label Ваш e-mail
						input(type="text", name="email").input
					.form__field.is--required
						label.label Пароль
						input(type="password", name="password").input
					.form__action
						button(type="submit").btn.btn--primary.btn--md Отправить

// Скрипт для примера, после своей реализации этот - удалить! :)
script.
	var termsForm = document.querySelector('.js-form-terms');
	var videoForms = document.querySelector('.js-form-video');
	var termsFormSubmit = document.querySelector('.js-form-terms .btn');

	videoForms.style.display = "none";
	termsFormSubmit.addEventListener('click', function(event) {
		event.defaultPrevented;

		if (terms.checked){
			termsForm.style.display = 'none';
			videoForms.style.display = 'block';
		}
	});