.p404{}
.p404__title{
	height: 225px;
	margin: 0 0 50px;
	font-size: 300px;
	line-height: 210px;
	vertical-align: top;
	font-weight: 700;
	color: #f4f4f4;
}
.p404__text{
	margin: 0 0 25px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	color: #000000;
}
.p404__action{}