.advantage{
	float: left;
	width: percentage(1/3);
}
.advantage__inner{
	max-width: 280px;
	margin: 0 auto;
}
.advantage__icon{
	display: block;
	margin: 0 auto 28px;
}
.advantage__text{
	margin: 0;
	font-size: 12px;
	line-height: 15px;
	font-weight: 400;
	color: #000000;
	text-align: center;
}