.article{
	display: table;
	width: 100%;
	margin-bottom: 39px;
	border-bottom: 1px solid #dedede;
}
.article__inner{
	display: table-row;
	@include media('<500px'){
		display: block;
	}
}
.article__photo{
	display: table-cell;
	width: 202px;
	vertical-align: top;
	padding-bottom: 35px;
	@include media('<500px'){
		display: block;
		margin: 0 auto;
	}
	img{
		display: block;
	}
}
.article__content{
	display: table-cell;
	padding-left: 25px;
	vertical-align: middle;
	padding-bottom: 35px;
	@include media('<500px'){
		display: block;
		max-width: 320px;
		margin: 0 auto;
	}
}
.article__title{
	margin: 0 0 20px;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	text-decoration: underline;
	color: $color__primary;
}
.article__text{
	font-size: 14px;
	line-height: 16px;
	color: #000;
}