.customer-data{
	margin: 0 0 42px;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	@include clearfix();
}
.customer-data__text{
	float: left;
	padding-top: 8px;
}
.customer-data__link{
	text-decoration: none;
}
.customer-data__action{
	float: right;

}