.customer-data{
	margin: 0 0 42px;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	@include clearfix();
	@include media('<992px'){
		font-size: 16px;
		line-height: 20px;
	}
}
.customer-data__text{
	float: left;
	padding-top: 8px;
}
.customer-data__link{
	text-decoration: none;
}
.customer-data__action{
	float: right;
	@include media('<992px'){
		display: none;
	}
}