.logo{
	img {
		display: block;
		@include media('<920px'){
			margin: 0 auto 10px;
		}
	}
}
.logo__text{
	max-width: 180px;
	padding-top: 12px;
	margin-bottom: 32px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #000;
	@include media('<940px'){
		display: none;
	}
}