.login{
	&.is--logged{
		position: relative;
		margin-top: -12px;

		.login__item{
			margin: 0;
			padding: 32px 17px 22px;
			font-size: 12px;
			line-height: 12px;
			color: #fff;
			text-decoration: none;
			background-color: #9424e3;
		}
		&:hover .login__profile{
			visibility: visible;
			opacity: 1;
			z-index: 3000;
			transform: translateY(0%);
			transition-delay: 0s, 0s, 0.3s;
		}
	}
}
.login__item{
	display: inline-block;
	margin: 0 5px 0 8px;
	font-size: 12px;
	font-weight: 400;
	color: $color__primary;
	text-decoration: underline;
	&:last-child{
		margin-right: 0;
	}
	&:hover{
		color: #8e17e2;
	}
}
.login__profile{
	position: absolute;
	visibility: hidden;
	opacity: 0;
	right: 0; top: 53px;
	width: 200px;
	margin: 0;
	padding: 24px 16px;
	list-style: none;
	background: #9424e3 url('../images/profile-bg.png') left bottom no-repeat;

	transform: translateY(-8px);
	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
	z-index: -1;
	@include media('<600px'){
		right: auto;
		left: 0;
	}
}
.login__profile-item{
	margin: 0;
}
.login__profile-link{
	display: block;
	padding: 4px 0;
	font-size: 12px;
	line-height: 16px;
	text-decoration: underline;
	color: #fff;
	&:hover{
		color: #fff;
		text-decoration: none;
	}
}