.nav{
	@include media('<920px'){
		display: none;
	}
}
.nav__list{
	position: relative;
	@include clearfix();
	height: 67px;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	border-top: 1px solid $color__third;
	text-align: justify;

	&:after{
		display: inline-block;
		width: 100%;
	}
}
.nav__item{
	display: inline-block;
	margin: 0;

	&:first-child .nav__link{
		padding-left: 2px;
	}
	&:last-child .nav__link{
		padding-right: 1px;
	}
	&:focus .nav__submenu.is--active,
	&:hover .nav__submenu.is--active{
		visibility: visible;
		opacity: 1;
		z-index: 30;
		transform: translateY(0%);
		transition-delay: 0s, 0s, 0.3s;
	}

	&.is--current .nav__link,
	&:hover .nav__link{
		background-color: $color__secondary;
		color: #fffefe;
	}
}
.nav__link{
	display: block;
	padding: 24px 9px 22px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #020202;
	text-decoration: none;
}

.nav__submenu{
	position: absolute;
	visibility: hidden;
	opacity: 0;
	top: 100%;
	width: 320px;
	padding: 58px 25px 54px;
	box-shadow: -1px 6px 7px 1px rgba(0, 0, 0, 0.26);
	background: #9424e3 url('../images/menu-bg.png') right bottom no-repeat;
  transform: translateY(-8px);
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
	z-index: -1;
	&.is--fullwide{
		margin: 0 auto;
		padding: 58px 43px 54px;
		left: 0; right: 0;
		width: 100%;
	}
}
.nav__submenu-backlink{
	position: absolute;
	top: 18px; left: 43px;
	@extend .nav__submenu-link;
}
.nav__submenu-list{
	display: inline-block;
	width: percentage(1/1);
	padding: 0;
	margin-right: -.24em;
	vertical-align: top;
	list-style: none;
	.is--fullwide &{
		width: percentage(1/3);
	}
}
.nav__submenu-item{
	margin: 0;
}
.nav__submenu-link{
	display: block;
	padding: 7px 13px 3px;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #ffffff;
	text-decoration: none;
	vertical-align: middle;
	&:hover{
		color: #ffffff;
		background-color: #7e15c8;
	}
}