extends pug/base

append vars
  - html.classList.push('page--contacts')

block content

  section.section.section--contacts
    .container
      h2.section__title.is--align-left Контакты
      .section__content
        p.is--text-lg Телефон: +38 (066) 000-00-00
          br
          | Адрес: г. Киев, ул. Лютеранская 3 оф.56
        .map
          img(src="images/map.jpg", alt="")

        form(action="").form.js-form-ask.row
          .col.col--12-of-12.col--s-12-of-12.col--m-12-of-12.col--l-12-of-12
            .form__title Задать вопрос
          .col.col--6-of-12.col--s-12-of-12.col--m-6-of-12.col--l-6-of-12
            .form__field.is--required
              label.label Имя и фамилия
              input(type="text", name="name").input
            .form__field.is--required
              label.label Ваш e-mail
              input(type="email", name="email").input
          .col.col--12-of-12.col--s-12-of-12.col--m-12-of-12.col--l-12-of-12
            .form__field.is--required
              label.label Вопрос
              textarea(name="comment", cols="30", rows="10").textarea
            .form__action
              button(type="submit").btn.btn--primary.btn--md Отправить

  include pug/section/advantage
  include pug/section/news

block body-end