extends pug/base

append vars
  - html.classList.push('page--profile')
  - isLogged = 'customer';

block content

  section.section.section--profile
    .container
      include pug/parts/customer-data
      h2.section__title.is--align-left Избранные франшизы
      .section__content
        .row
          each i in [1,2,3,4]
            .col.col--4-of-12.col--s-12-of-12.col--m-6-of-12.col--l-4-of-12
              include pug/parts/franch
      hr.section__divider
      .section__action
        a(href="franchise-edit.html").btn.btn--primary.btn--lg Добавить франшизу

  include pug/section/advantage
  include pug/section/news

block body-end