extends pug/base

append vars
  - html.classList.push('page--profile')
  - isLogged = 'customer';

block content

  section.section.section--profile
    .container
      include pug/parts/customer-data
      h2.section__title.is--align-left Мои сообщения
      .section__content
        each i in [1,2,3,4,5,6]
          include pug/parts/message

  include pug/section/advantage
  include pug/section/news

block body-end