extends pug/base

append vars
  - html.classList.push('page--searh')

block content
  - var breadcrumbs = ["Главная","Ищу франшизу"];
  include pug/parts/breadcrumbs

  section.section.section--search-franchise
    .container
      h2.section__title.is--align-left Ищу франшизу
      .section__content
        p.section__text.is--small Значимость этих проблем настолько очевидна, что сложившаяся структура организации способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же новая модель организационной деятельности требуют от нас анализа новых предложений. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации новых предложений. Равным образом дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития.
        .row
          .col.col--12-of-12.col--s-12-of-12.col--m-12-of-12.col--l-12-of-12
            .search-franchise
              .search-franchise__inner.is--first
                h3.search-franchise__title Бесплатное членство
                p.search-franchise__text Значимость этих проблем настолько очевидна, что сложившаяся структура организации способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач
                .search-franchise__action
                  a(href="").btn.btn--primary Регистрация
          .col.col--12-of-12.col--s-12-of-12.col--m-12-of-12.col--l-12-of-12
            .search-franchise
              .search-franchise__inner.is--second
                h3.search-franchise__title Платное членство
                p.search-franchise__text Значимость этих проблем настолько очевидна, что сложившаяся структура организации способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                .search-franchise__action
                  a(href="").btn.btn--primary Регистрация и оплата
          .col.col--12-of-12.col--s-12-of-12.col--m-12-of-12.col--l-12-of-12
            .search-franchise
              .search-franchise__inner.is--third
                h3.search-franchise__title Дополнительные услуги
                p.search-franchise__text Значимость этих проблем настолько очевидна, что сложившаяся структура организации способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                .search-franchise__service
                  each i in [1,2,3,4,5]
                    .search-franchise__service-item
                      .search-franchise__service-item-title Название услуги
                      .search-franchise__service-item-price 1'800 грн.
                      .search-franchise__service-item-comment
                        textarea(name="", cols="30", rows="1", placeholder="Ваш комментарий").textarea.is--onerow
                      .search-franchise__service-item-action
                        a(href="").btn.btn--primary Оплатить
                .search-franchise__action
                  a(href="").btn.btn--primary Регистрация

  include pug/section/advantage
  include pug/section/news


block body-end